.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

label {
  display: block;
  margin: 5px 0px ;
}

.orderForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2%;


}

.orderWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#pizza-form {

}

.pizzaText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 45vh;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2%;
}

.pizzaText button {
  color: white;
  background-color: black;
  padding: 1% 3% 1% 3%;
  text-decoration: none;
  border: none;
}

/* Home Styles */
.pizzaHome {
  background-image: url('./Assets/Pizza.jpg');
  height: 45vh;
  background-size: cover;
}

/* Header Styles */
nav {
  display: flex;
 justify-content: space-between;
 padding: 1%;
}
nav a{
  text-decoration: none;
}

.links {
  margin: 20px;
  padding: 1%;
}